body
{
	font-family:		Arial;
}
a
{
	text-decoration:	none;
	color:			#1111bb;
}
a:hover
{
	text-decoration:	underline;
}
a img
{
	border:			none;
}
h1, h2, h3, h4, h5, h6, form
{
	margin:			1px;
}
table, pre, ul, ol, dl
{
	margin-top:		5px;
	margin-bottom:		5px;
}
small, sup, sub
{
	font-size:		80%;
}
textarea, input, pre, tt
{
	font-family:		Courier New;
}
/*******************************************************************************
 title
*******************************************************************************/
h1.title
{
	font-size:		200%;
}
/*******************************************************************************
 a
*******************************************************************************/
a.a
{
}
/*******************************************************************************
 p
*******************************************************************************/
p.p
{
}
/*******************************************************************************
 postit
*******************************************************************************/
sup.postit
{
}
.postit a
{
}
.postit table
{
	background-color:	black;
}
.postit td
{
}
/*******************************************************************************
 toc
*******************************************************************************/
a.totoc
{
}
a.totoc0
{
}
a.toc
{
}
ol.toc
{
}
ol.toc ol
{
}
ol.toc li
{
}
ul.toc
{
}
ul.toc ul
{
}
ul.toc li
{
}
dl.toc
{
}
dl.toc dl
{
}
dl.toc dt
{
}
/*******************************************************************************
 heading
*******************************************************************************/
h1.heading
{
	background-color:	#66cccc;
	font-size:		150%;
	padding-left:		5px;
	border:			1px solid lightgrey;
}
h2.heading
{
	background-color:	pink;
	font-size:		140%;
	padding-left:		5px;
	border:			1px solid lightgrey;
}
h3.heading
{
	background-color:	#ccccff;
	font-size:		130%;
	padding-left:		5px;
	border:			1px solid lightgrey;
}
h4.heading
{
	background-color:	lightgrey;
	font-size:		120%;
	padding-left:		5px;
	border:			1px solid lightgrey;
}
h5.heading
{
	background-color:	#eeeeee;
	font-size:		110%;
	padding-left:		5px;
	border:			1px solid lightgrey;
}
h6.heading
{
	font-size:		100%;
	padding-left:		5px;
	border:			1px solid lightgrey;
}
/*******************************************************************************
 br
*******************************************************************************/
br.br
{
}
/*******************************************************************************
 hr
*******************************************************************************/
hr.hr
{
}
hr.hr0
{
}
/*******************************************************************************
 i
*******************************************************************************/
i.i
{
}
/*******************************************************************************
 b
*******************************************************************************/
b.b
{
}
/*******************************************************************************
 small
*******************************************************************************/
small.small
{
}
/*******************************************************************************
 netlink
*******************************************************************************/
a.netlink
{
	text-decoration:	underline;
}
img.netlink
{
}
/*******************************************************************************
 interwiki
*******************************************************************************/
a.interwiki
{
	border-right:		1px solid lightgrey;
	border-bottom:		1px solid lightgrey;
}
img.interwiki
{
}
/*******************************************************************************
 wikiword
*******************************************************************************/
a.wikiword_display
{
}
a.wikiword_goto
{
}
img.wikiword_display
{
}
img.wikiword_goto
{
}
/*******************************************************************************
 listing
*******************************************************************************/
ul.ul
{
}
.ul li
{
}
ol.ol
{
}
.ol li
{
}
dl.dl
{
}
.dl dt
{
}
.dl dd
{
}
/*******************************************************************************
 table
*******************************************************************************/
table.table
{
	border:			1px solid lightgrey;
	border-collapse:	separate;
	border-spacing:		0px;
}
.table tr
{
}
.table td
{
	border:			1px solid lightgrey;
}
/*******************************************************************************
 pre
*******************************************************************************/
pre.pre
{
}
/*******************************************************************************
 pagelist 
*******************************************************************************/
table.pagelist
{
	border:			1px solid lightgrey;
	border-collapse:	collapse;
	border-spacing:		0px;
}
tr.pagelist_header
{
}
.pagelist_recent
{
}
.pagelist_outdated
{
	background-color:	#eeeeee;
}
.pagelist td
{
	border:			none;
	white-space:		nowrap;
}
ul.pagelist
{
}
ul.pagelist li
{
}
ol.pagelist
{
}
ol.pagelist li
{
}
/*******************************************************************************
 linkup
*******************************************************************************/
ol.linkup
{
}
.linkup ol
{
}
.linkup li
{
}
/*******************************************************************************
 linkdown
*******************************************************************************/
ol.linkdown
{
}
.linkdown ol
{
}
.linkdown li
{
}
/*******************************************************************************
 input
*******************************************************************************/
input.text
{
}
input.submit
{
}
/*******************************************************************************
 calendar
*******************************************************************************/
table.calendar_year
{
	border:			1px solid lightgrey;
}
.calendar_year caption
{
	padding:		0px;
}
.calendar_year tr
{
}
.calendar_year td
{
}
table.calendar
{
	border:			1px solid lightgrey;
}
.calendar caption
{
	padding:		0px;
}
tr.calendar_header
{
}
tr.calendar_header td
{
}
.calendar tr
{
}
.calendar td
{
}
td.calendar_today
{
	background-color:	yellow;
	border:			1px solid lightgrey;
}
.calendar br
{
}
.calendar small
{
}
.saturday
{
	color:			blue;
}
.sunday
{
	color:			red;
}
.todo
{
	color:			green;
	text-decoration:	underline;
}
/*******************************************************************************
 bookmark
*******************************************************************************/
.new
{
	color:			red;
}
.updated
{
	color:			blue;
}
.deleted
{
	color:			red;
	text-decoration:	line-through;
}
.deleted0
{
	color:			black;
	text-decoration:	line-through;
}
/*******************************************************************************
 diff
*******************************************************************************/
td.diff_added
{
	background-color:	#66cccc;
}
td.diff_deleted
{
	background-color:	pink;
}
/*******************************************************************************
 font
*******************************************************************************/
.table_header
{
	color:			black;
}
.general
{
	color:			black;
}
.emphasized
{
	color:			red;
}
